<%# <div class="col-md-4> %>
  <div class="card">
    <div class="card-image" style="background-image: url(<%= car.image %>)"></div>
    <div class="card-text">
      <span class="date">4 days ago</span>
      <h2><%= car.model %></h2>
      <p><%= car.description %></p>
    </div>
    <div class="card-stats">
      <div class="stat">
        <div class="value"><%= car.price %>€/day</div>
        <div class="type">read</div>
      </div>
      <div class="stat border">
        <div class="value">5123</div>
        <div class="type">views</div>
      </div>
      <div class="stat">
        <div class="value">32</div>
        <div class="type">comments</div>
      </div>
    </div>
  </div>
<%# </div> %>



<div class="col-md-4">
  <div class="card-container" data-controller="card" data-action="mouseover->card#hoverDelete mouseout->card#hoverDelete">
    <div class="car-image" style="background-image: url(<%= car.image %>)">
      <span><%= link_to "+", car_path(car), method: :delete, data: { confirm: "Are you sure?", "card-target"=>"delete"}, class: "card-remove-link"%></span>
    </div>
    <div class="card-car-infos2">
      <div class="car-info">
        <h5 class='car-name' ><%= link_to car.brand, car_path(car) %></h5>
        <h6><%= car.model %></h6>
        <p class="car-occasion" ><%= car.description %></p>
      </div>
      <div class="car-owner-info">
        <div class="owner-infos">
          <p>
            <%= car.price %>€/day
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
