<div class="dashboard-container">
  <div class="profile-container">
    <h3><%= "Welcome to your dashboard #{@user.username}!" %></h3>
    <div>
      <img id="dashboard-avatar" src="<%= @user.avatar %>" alt="#">
    </div>
    <br>
    <div class="profile-text">
      <p><%= "Username: #{@user.username}" %></p>
      <p><%= "Email: #{@user.email}" %></p>
      <p><%= "Member since: #{@user.created_at}" %></p>
      <a href="/users/edit" class="btn btn-primary">Edit profile</a>
      <br>
      <br>
      <h4>Your reviews:</h4>
      <% @reviews.each do |review| %>
        <p class="review"><%= review.content %> -> <%= review.rating %> ⭐️ <%= review.car.model %></p>
      <% end %>
    </div>
  </div>
  <div class="reservations-container">

    <div class="own-reservations">
      <h3>Your reservations:</h3>
      <% @reservations.each do |reservation| %>
      <% case reservation.status %>
          <% when "pending" %>
          <% status = "⏳" %>
          <% when "confirmed" %>
          <% status = "✅" %>
          <% when "declined" %>
          <% status = "❌" %>
        <% end %>
        <p><%= reservation.car.brand %> <%= reservation.car.model %> from: <%= reservation.start_date %> until: <%= reservation.end_date %> <%= status %></p>
      <% end %>
    </div>

    <br></br>

    <div class="mycars">
      <h3>My vehicules: </h3>
      <% @cars.each do |car| %>
        <%= link_to car_path(car) do %>
        <img src="<%= car.image %>" alt="pictureofvehicule" class="ownvehicule" >
        <% end %>
      <% end %>
    </div>

      <br></br>

    <div class="reservation-requests">
      <h3>Reservation requests: </h3>
      <% @reservationrequests.each do |request| %>
        <% case request.status %>
          <% when "pending" %>
          <% status = "⏳" %>
          <% when "confirmed" %>
          <% status = "✅" %>
          <% when "declined" %>
          <% status = "❌" %>
        <% end %>
        <% if request.status != "declined" %>
          <p><%= request.user.username %> made a reservation DETAILS: <%= request.car.brand %> <%= request.car.model %> from: <%= request.start_date %> until: <%= request.end_date %> <%= status %></p>
          <%= link_to "Accept", accept_reservation_path(request), method: :patch, class: "btn btn-success"%>
          <%= link_to "Decline", decline_reservation_path(request), method: :patch, class: "btn btn-danger"%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
