<div class="flex-container" data-controller="date">
  <div class="cardgrow">
    <h1>Reserve THIS CAR!</h1>
    <h3><%= @car.brand %></h3>
    <h3><%= @car.model %></h3>
    <h3><%= @car.capacity %></h3>
  </div>
  <div>
    <%= simple_form_for [ @car, @reservation] do |f| %>
      <%= f.input :start_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'start' } }%>
      <%= f.input :end_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'end' }}%>
      <%= f.submit "Make the reservation", class: "btn btn-primary" %>
      <%= "$#{@car.price}/day" %>
    <% end %>
  </div>
</div>

<%= link_to 'Go to vehicules', cars_path, class: "btn btn-primary" %>
