<div class="container">
  <div class="flex-container" data-controller="date">
    <div class="card-product">
      <img class="card-img-left" src="<%= @car.image %>" />
      <div class="card-body">
        <h2><%= @car.model %></h2>
        <p><%= @car.description %></p>
        <% @car.reviews.each do |review| %>
          <div class="reviews">
            <div class="reviews-comment">
              <i><%= review.content %></i> <%= review.rating %>/5
              <span class="delete"><%= link_to 'X', review_path(review),
                method: :delete,
                data: { confirm: "Are you sure?" } %></span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="reservation-container">
      <%= simple_form_for [ @car, @reservation] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'start' } }%>
        <%= f.input :end_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'end' }}%>
        <% if user_signed_in? %>
          <%= f.submit "Make the reservation", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "login", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
        <%= "$#{@car.price}/day" %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Go to vehicles', cars_path, class: "btn btn-primary" %>
</div>
