<div class="container">
  <div class="flex-container" data-controller="date">
    <div class="cardgrow">
      <div class="card-car">
        <img src= <%= @car.image %> />
        <div class="card-car-infos">
          <h2><%= @car.brand %></h2>
          <h3><%= @car.description %></h3>
          <br>

          <% @car.reviews.each do |review| %>
            <div class="reviews">
            <p><%= review.content %> <%= review.rating %>/5</p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="reservation-container">
      <%= simple_form_for [ @car, @reservation] do |f| %>
        <%= f.input :start_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'start' } }%>
        <%= f.input :end_date, as: :string, input_html: { class: "datepicker", data: { 'date-target' => 'end' }}%>
        <% if user_signed_in? %>
          <%= f.submit "Make the reservation", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "login", new_user_session_path, class: "btn btn-primary" %>
        <% end %>
        <%= "$#{@car.price}/day" %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Go to vehicles', cars_path, class: "btn btn-primary" %>
</div>
