  <H1>NEW CAR</H1>
  <%= simple_form_for([@car]) do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :capacity %>
    <%# <% raise %>
    <%= f.input :categories, collection: Category.all, input_html: { multiple: true, class: "multiple-select" }, include_hidden: false %>
    <%= f.input :occasion %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.submit "Add vehicule" %>
  <% end %>
<br>
<%= link_to 'Go to vehicules', cars_path, class: "btn btn-primary" %>
