<H1>NEW</H1>

<div class="container">
  <%= simple_form_for([@car]) do |f| %>
    <%= f.input :brand %>
    <%= f.input :model %>
    <%= f.input :capacity %>
    <%= f.input :occasion %>
    <%= f.input :price %>
    <%= f.input :description %>
    <%= f.submit "Add vehicule" %>
  <% end %>
</div>
